.pair-input {
  background-color: transparent;
  height: 2.5em;
  border: 0;
  width: 25%;
  color: white;
}

.pair-input:focus {
  outline: none;
}
.input-container {
  display: flex;
  width: 50%;
  border: 0.5px solid snow;
  background-color: transparent;
  flex-wrap: wrap;
}

.input-tag {
  margin: "4px";
  display: flex;
  align-items: "center";
}
