.pair-input {
  background-color: transparent;
  height: 2.5em;
  border: 0;
  color: white;
  flex-basis: 30px;
  min-width: 30px;
  flex-grow: 1;
  flex-shrink: 1;
}

.pair-input:focus {
  outline: none;
}
.input-container {
  display: flex;
  width: 30%;
  border: 0.5px solid snow;
  background-color: transparent;
  min-width: 500px;
  flex-wrap: wrap;
}

.input-tag {
  margin: "4px";
  display: flex;
  align-items: "center";
}
