.tag-container {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.card {
  width: 200px;
  margin: 10px;
  border: 2px solid transparent;
}

.pair-card-hover {
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 5px #a284c2;
  border: 2px solid #a284c2;
}

.ant-card-body {
  height: 90%;
}

.card[data-visible="1"] {
  animation: data-visible 0.5s 1;
}

.tag {
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
  opacity: 1;
  color: white;
  background: #63b89e;
  border-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@keyframes data-visible {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
