.tag-container {
  display: flex;
  flex-direction: column;
}

.card[data-visible="1"] {
  animation: data-visible 0.5s 1;
}

.tag {
  margin-bottom: 4px;
  text-align: center;
  margin-right: 8px;
  opacity: 1;
  color: white;
  background: #63b89e;
  border-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@keyframes data-visible {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
